<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" id="WebApp_ID"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<display-name>gerenciador</display-name>

	<welcome-file-list>

		<welcome-file>index.html</welcome-file>

	</welcome-file-list>

	<filter>
		<filter-name>MonitoringFilter</filter-name>
		<filter-class>br.com.rpg.campaign.servlet.MonitoringFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>MonitoringFilter</filter-name>
		<url-pattern>/gameplay</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>br.com.rpg.campaign.servlet.AuthorizationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/gameplay</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ControllerFilter</filter-name>
		<filter-class>br.com.rpg.campaign.servlet.ControllerFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ControllerFilter</filter-name>
		<url-pattern>/gameplay</url-pattern>
	</filter-mapping>

	<session-config>
		<!-- 10 min -->
		<session-timeout>10</session-timeout>
	</session-config>

</web-app>